<mat-grid-list cols="6" rowHeight="100px">
      <!-- Project tile -->
  <mat-grid-tile [colspan]="1" [rowspan]="6" [style.background]="'black'">
    <div class="btn-group">
      <a [routerLink]="['/manage-projects']" mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Back</a>
      <a [routerLink]="['/home']" mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Logout</a>
      <button (click)="addNewFile()" mat-raised-button color="basic">New File</button>
      <button (click)="shareProject()" mat-raised-button color="basic">Share Project</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="1"[style.background]="'bluegrey'">
    <div class="btn-group2">
      <button (click)="saveProject()" mat-stroked-button color="primary">Save</button>
      <button (click)="compile()" mat-stroked-button color="primary">Compile</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="3">
    <ngx-monaco-editor
      style="width: 100%" [options]="editorOptions" [(ngModel)]="code">
    </ngx-monaco-editor>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="2"[style.background]="'red'">Compiler Output
  </mat-grid-tile>

</mat-grid-list>


