.container {
  height: 100%;

  display: flex;
}

.side-bar {
  width: 240px;
  min-width: 240px;
}

.side-bar-button-group {
  display: flex;
}

.mat-button-base {
  margin: 3px;
}

.side-bar-button-group .mat-button-base {
  width: 100%;
}

mat-list-item button {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.main-view {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.editor {
  height: 100%;
}

ngx-monaco-editor {
  height: 100%;
}

.compile-output {
  height: 20%;
  max-height: 200px;
}
