<!-- Project tile -->
<div class="container">
  <div class="side-bar">
    <div class="side-bar-button-group">
      <a
        [routerLink]="['/manage-projects']"
        mat-raised-button
        color="primary"
        routerLink="/home"
        routerLinkActive="active"
        >Back</a
      >
      <a
        [routerLink]="['/home']"
        mat-raised-button
        color="primary"
        routerLink="/home"
        routerLinkActive="active"
        >Logout</a
      >
    </div>
    <div class="side-bar-button-group">
      <button (click)="createNewFile()" mat-raised-button color="basic">
        New File
      </button>
      <button (click)="shareProject()" mat-raised-button color="basic">
        Share Project
      </button>
    </div>

    <mat-action-list>
      <button mat-list-item *ngFor="let file of files$ | async">
        {{ file.name }}
      </button>
    </mat-action-list>
  </div>

  <div class="main-view">
    <div>
      <button (click)="saveProject()" mat-button color="primary">Save</button>
      <button (click)="compile()" mat-button color="primary">Compile</button>
    </div>

    <div class="editor">
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code">
      </ngx-monaco-editor>
    </div>

    <div class="compile-output">compile output</div>
  </div>
</div>
